.home-container {
    border: 2px solid black;
    border-radius: 25px;
    text-align: left;
    width: 80%;
    padding: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
    text-align: center;
    margin: 5px auto;
}